@import url(https://fonts.googleapis.com/css?family=Orbitron);
@font-face {
    font-family: 'superMarioBros';
    src: url(../police/SuperMario256.ttf) format('truetype')
}
@keyframes bounceIn{
    0%{
        opacity: 0;
        transform: scale(0.3) translate3d(0,0,0);
    }
    50%{
        opacity: 0.9;
        transform: scale(1.1);
    }
    80%{
        opacity: 1;
        transform: scale(0.89);
    }
    100%{
        opacity: 1;
        transform: scale(1) translate3d(0,0,0);
    }
}

.bounce{
    animation: bounceIn 0.7s ease;
}
body{
    height: auto;
    background-color: black;
    color: white;
    overflow-wrap: break-word;
}
header{
    margin-bottom: 10px;
}
nav{
    background-color: #563d7c;
}
nav a{
    font-size: 1.2rem;
    transition: 0.4s;
}
nav a:hover{
    background-color: black;
    color: white;
}
a{
    font-family: 'superMarioBros';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 2px black;
}
h1{
    font-family: 'superMarioBros';
    text-transform: uppercase;
    text-align: center;
}
h2{
    font-style: italic;
    animation: 0.7s bounceIn;
    animation-delay: 0.3s;
}
form{
    width: 30%;
    margin: auto;
}
.filter {
	display: block;
	position: sticky;
    top: 20px;
    margin: auto;
    width: auto;
}
.chatbot{
    position: sticky;
    position: -webkit-sticky;
    bottom: 10px;
    right: 10px;
}
.hidden {
    overflow: hidden;
}
.keymap{
    display: flex;
    margin: 30px;
    flex-direction: column;
    align-items: center;
}
.move {
    height: 50px;
    width: 85%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.center{
    justify-content: center;
}
.move * {
    border: 1px solid white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.move .pressed{
    background-color: white;
    color: black;
}
.gameDisplay{
    display: flex;
    justify-content: center;
    width: 240%;
}
canvas {
    width: 100%;
}

.controller {
    width: 500px;
    margin: 0 auto;
    top: 30%;
    position: relative;

}
.base {
    width: 500px;
    height: 220px;
    background-color: #e0ded4;
    border-radius: 4px;
    z-index: 1;

}
.front {
    position: relative;
    top: 38px;
    margin: 0 auto;
    width: 480px;
    height: 167px;
    background-color: #464646;
    background: linear-gradient(to bottom, #3a3e3b 0%, #232624 100%);
    box-shadow: inset 0px 1px 2px 1px rgba(0, 10, 0, 0.91);

}
.cross {
    position: absolute;
    left: 24px;
    top: 50px;
    width: 110px;
    height: 90px;

}

.back-cross  {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 105px;
    height: 40px;
    background-color: #e0ded4;
    z-index: 1;
    border:1px black solid;
}

.back-cross .vert {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 105px;
    height: 40px;
    background-color: #e0ded4;
    z-index: 1;
    border-radius: 4px;	
    transform: rotate(90deg);
}


.horizontal {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 100px;
    height: 35px;
    background-color: #252725;
    z-index: 2;
    border-radius: 1px;
    
}

.vertical {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 100px;
    height: 35px;
    background-color: #252725;
    z-index: 2;
    border-radius: 1px;
    transform: rotate(90deg);
    box-shadow: inset 3px 0px 0px 0px rgba(255, 255, 255, 0.61);

}

.arrowlf {
    right: 5px;
    top: 6px;
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 12px solid black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.3;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.61);
    
}
.arrowlf:before {
    content: '';
    width: 10px;
    height: 13px;
    background-color: black;
    position: absolute;
    left: -20px;
    top: -6px;

}
.arrowrh {
    left: 5px;
    top: 6px;
    position: absolute;
    width: 0px;
    height: 0px;
    border-right: 12px solid black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;	
    opacity: 0.3;
    box-shadow:  inset 0px 7px 1px 2px rgba(255, 255, 255, 0.91);
}
.arrowrh:before {
    content: '';
    width: 10px;
    height: 13px;
    background-color: black;
    position: absolute;
    left: 10px;
    top: -6px;

}
.circle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: linear-gradient(180deg, rgb(22, 22, 22) 30%, rgb(58, 58, 58) 100%);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 4;
    border-radius: 50%;
    box-shadow: inset 0px -2px 0px 0px rgba(255, 255, 255, 0.1);
}

.buttons-a-b {
    position: absolute;
    right: 26px;
    top: 80px;
    height: 50px;
}

.btn-border {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: #EDECE7;
    float: left;
    margin: 6px;
}

.btn-round {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 36px;
    height: 36px;
    background: linear-gradient(to bottom, #DF2015 0%, #f84936 100%);
    border-radius: 50%;
    float: left;
    border: 1px rgba(0, 0, 0, 0.51) solid;
    box-shadow: inset 0px 1px 2px 0px #FBFBFB, 0px 1px 1px 0px rgba(0, 0, 0, 0.71);
}
.btn-round:active {
    top: 1px;
    border: 1px rgba(0, 0, 0, 0.5) solid;
    box-shadow: inset 0px 0px 1px 0px #FBFBFB, 0px 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.buttons-select {
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
    margin: auto;
    width: 142px;
    height: 40px;
    background-color: #e0ded4;
    border-radius: 6px;
    border: 4px solid #e0ded4;
    box-shadow: inset 0px 1px 3px 4px rgba(50, 50, 50, 0.3);
    z-index: 3;
}

.btn-central {
    position: relative;
    top: 3px;
    width: 42px;
    height: 18px;
    background-color: #464646;
    border-radius: 10px;
    border: 1px solid #272723;
    margin: 9px 13px;
    float: left;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.51);
}
.btn-central:active {
    box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0.51);
}

.decoration-central div {
    position: relative;
    display: block;
    left: 0;
    right: 0;
    margin: 7px auto;
    top: 0;
    width: 150px;
    height: 28px;
    background-color: #7b836c;
    border-radius: 10px;
    opacity: 0.8;
    z-index: 2;
}

.stickers {
    font-family: 'Orbitron', sans-serif;
    color: #DF2015;
    position: absolute;
    z-index: 10;
}
.st-b {
    font-weight: bold;
    position: absolute;
    left: 374px;
    top: 140px;
}
.st-a {
    font-weight: bold;
    position: absolute;
    left: 434px;
    top: 140px;
}
.st-select {
    position: absolute;
    left: 174px;
    top: 70px;
}
.st-start {
    position: absolute;
    left: 250px;
    top: 70px;
}
.cable {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 14px;
    height: 300px;
    left: 42%;
    background: linear-gradient(to right, #313131 0%,#161616 50%,#313131 100%);
}
#displayDate{
    display: flex;
    flex-wrap: wrap;
}
.quentin {
    width: 46%;
    margin: 10px;
}
.search{
	height: 100%;
	width: 15%;
	padding-right: 20px;
}
.quentin .card .face{
	width: 300px;
	height: 200px;
	transition: 0.5s;
}
.quentin .card {
    border: 0px;
}
#moi{
	width: 85%;
	display: flex;
	flex-wrap: wrap;
}
.quentin .card .face.face1 {
	position: relative;
	background: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	z-index: 1;
	transform: translateY(100px);
}
.quentin .card .face.face1 {
	background: #563e7a;
	transform: translateY(0);
}
.quentin .card .face.face1 .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

}
.quentin .card .face.face1 .content img {
	transition: 0.5s;
}
.quentin .card .face.face1 .content {
	opacity: 1;
}

.quentin .card .face.face1 .content img {
	max-width: 50%;
}
.quentin .card .face.face1 .content h2 {
	margin: 10px 0 0;
	padding: 0;
	color: #fff;
	text-align: center;
	font-size: 1.5em;
}
.quentin .card .face.face1 .content h2{
	color: white;
}
.quentin .card .face.face2{
	position: relative;
	background: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    width: 100%;
    color: white;
}

.quentin .card .face.face2 .content p {
	margin: 0;
    padding: 0;
}
.quentin .card .face.face2 .content a {
    margin: 15px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
	display: inline-block;
	text-decoration: none;
	font-weight: 900;
	color: #333;
	padding: 5px;
    border: 1px solid white;
    border-bottom: none;
    border-left: none;
}
/* .quentin .card .face.face2 .content{
	background: #333;
	color: #fff;
    transition: 0.5s;
    max-width: 50%;
} */
.avg{
	margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    padding: 5px;
    border: 1px solid white;
    border-right: none;
    border-bottom: none;
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 50%;
}
.min-max{
    justify-content: space-around;
}
#min {
    width: 75%;
    margin-bottom: 25px;
}
#max {
    width: 75%;
    margin-bottom: 25px;
}
div.face.face1 > div > img{
    max-width: 50%;
}
#q {
    width: 100%;
}
.show_layout{
    border: 2px solid white;
    border-radius: 30px;
    overflow: hidden;
    background-color: #fd9802;
    color: black;
}
.show_layout div:first-child{
    padding: 0;
    margin-bottom: 20px;
}
.show_layout div:first-child img{
    width: 100%;
}
.display_game{
    border: 2px solid white;
    border-radius: 30px;
    height: 30%;
}
/* animate span */
.card > span {
    position: absolute;
    z-index: 10;
}
.card > span:nth-child(1),
.card > span:nth-child(3) {
    width: 100%;
    height: 3px;
}
.card > span:nth-child(1) {
    top: 0;
    left: 0;
    transform-origin: right;
    background: linear-gradient(90deg, rgba(255,165,0,1) 0%, rgba(252,70,70,1) 100%);
    margin-bottom: 1px;
}
.card:hover > span:nth-child(1) {
    transform:scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}
.card > span:nth-child(3) {
    bottom: 0;
    right: 0;
    transform-origin: left;
    background: linear-gradient(90deg, rgba(75,0,130,1),rgba(0,0,255,1) 0%, rgba(75,0,130,1) 100%);
}
.card:hover > span:nth-child(3) {
    transform:scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

/* vertical */

.card > span:nth-child(2),
.card > span:nth-child(4) {
    height: 100%;
    width: 3px;
    background: red;
}
.card > span:nth-child(2) {
    top: 0;
    left: 0;
    transform: scaleY(0);
    background: rgb(255,165,0);
    background: linear-gradient(180deg, rgba(255,165,0,1) 0%, rgba(255,255,0,1) 50%, rgba(0,128,0,1) 100%);
}
.card:hover > span:nth-child(2) {
    transform:scaleY(1);
    transform-origin: top;
    transition: transform .5s;
}
.card > span:nth-child(4) {
    top: 0;
    right: 0;
    transform: scaleY(0);
    transform-origin: top;
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(238,130,238,1) 50%, rgba(75,0,130,1) 100%);
}
.card:hover > span:nth-child(4) {
    transform:scaleY(1);
    transform-origin: bottom;
    transition: transform .5s;
}
/* registration form */
/*form styles*/
#msform {
	width: 65%;
	min-height: 480px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}

#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}

/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	color: #2C3E50;
	font-size: 17px;
}

/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}

.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}

#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 50%;
	float: left;
	position: relative;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
	position: relative;
  z-index: 2; /* Push the numbers over the progress line. */
}

/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
}

#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}
#msform > fieldset:nth-child(3) > div:nth-child(7) > div > label{
    color: black;
}